<launch>
    <arg name="ns" default="dbot" />
    <rosparam file="$(find deliverybot_control)/config/deliverybot_control.yaml" command="load" ns="$(arg ns)" />

    <node name="robot_controller_spawn" pkg="controller_manager" type="spawner" respawn="false"
        output="screen" ns="dbot" args="door_position_controller pusher_position_controller joint_state_controller" />
    
    <node name="robot_state_publisher" ns="dbot" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
    </node>

</launch>
