<launch>
	<include file="$(find deliverybot_gazebo)/launch/willowgarage_world.launch" />
	<include file="$(find deliverybot)/launch/spawn.launch" />
	<include file="$(find deliverybot_control)/launch/deliverybot_control.launch" />
	<include file="$(find deliverybot_nav)/launch/deliverybot_navigation.launch" />
</launch>
