<?xml version='1.0'?>
<launch>
	
	<arg name="x" default="0"/>
	<arg name="y" default="0"/>
	<arg name="z" default="0.5"/>
	<arg name="model" default="dbot_combined"/>
	<param name="robot_description" command="$(find xacro)/xacro '$(find deliverybot)/urdf/$(arg model).xacro'"/>
	<node name="aster_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model robot -x $(arg x) -y $(arg y) -z $(arg z)"/>
	
</launch>
