<launch>
    <!-- <arg name="map_file" default="$(find deliverybot)/maps/building/lobby.yaml" /> -->
    <arg name="move_forward_only" default="true" />

    <!-- Map Server -->
    <!-- <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" /> -->
    
    <!-- AMCL -->
    <include file="$(find deliverybot_nav)/launch/amcl.launch" />

    <!-- Move Base -->
    <include file="$(find deliverybot_nav)/launch/move_base.launch">
        <arg name="move_forward_only" value="$(arg move_forward_only)"/>
    </include>

</launch>
