<launch>
    <!-- <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find deliverybot_gazebo)/worlds/hotel.world"/>
    </include>

    <arg name="model" default="dbot_laser"/>
    <param name="robot_description" command="$(find xacro)/xacro '$(find deliverybot)/urdf/$(arg model).xacro'"/> -->

    <rosparam file="$(find deliverybot_control)/config/deliverybot_control.yaml" command="load"/>
    
    <node pkg="controller_manager" type="spawner" name="controller_spawn" 
        respawn="false" output="screen" ns="/robot" 
        args="joint_door_position_controller joint_state_controller" />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher"
        respawn="false" output="screen">
        <remap from="/joint_states" to="/robot/joint_states" />
    </node>

</launch>