<launch>
	<rosparam file="$(find elevator_control)/config/elevator_control.yaml" command="load" />

	<node name="elevator_controller_spawn" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="/elevator" args="floor_position_controller elevator_state_controller" />

	<node name="elevator_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" >
		<remap from="robot_description" to="elevator_description" />
	</node>
</launch>
